/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*, *::before, *::after {
    font-family: "Quicksand", sans-serif !important;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #d9dae6;
    color: #141619;
    /* background-color: #7681ff; */
    /* margin: 0 10%; */
}